<h1>About Topic</h1>

<p>This is my Topic Vote.<br>

<p>by Ji Ruiqing<br>

<p>github: <a href="https://github.com/ruiqing0706">https://github.com/ruiqing0706</a><br>
logdown: <a href="http://ruiqing0706.logdown.com">http://ruiqing0706.logdown.com</a><br>
weibo: <a href="http://weibo.com/jiruiqing">http://weibo.com/jiruiqing</a><br>

<p>Date: 2016.12.9<br><%= link_to 'Back', topics_path %>
